#chart {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 50%;
	font-family: arial;
	color: white;
	text-align: center;
	font-weight: 700;
	transform-origin: center center;
	transition: all 1s ease;
}

#chart.fadeout {
	filter: blur(20px);
	opacity: 0;
}

#chart>#sum, #chart>#number {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#chart>#sum {
	height: 300px;
	align-items: flex-end;
}

#chart>#line {
	width: 100%;
	height: 30px;
	background-color: #03A9F5;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	box-shadow: 0 0 6px rgba(0, 0, 0, .35);
}

#chart>#number {
	height: 200px;
	align-items: flex-start;
}

#chart .bar {
	width: 17%;
	height: 0px;
	background-color: #00BCD4;
	font-weight: 400;
	transition: all .5s ease;	
}

#chart .bar:hover {
	background-color: #009688;
}

#chart #sum>.bar>.label {
	height: 20px;
	transform: translateY(50%);
}

#chart #number>.bar>.label {
	height: 20px;
	transform: translateY(-150%);
}

#placeholder {
	width: 100%;
	height: 100%;
	margin-bottom: 0;
}


